*.suo
*.pidb
*.unityproj
/UpgradeLog.htm
/UnityProject/Assets/Zenject/AddOns.meta
/UnityProject/Assets/Zenject/AddOns

# steve: ignore VIM config files that I use
.vim_l
.ackrc
.vimrc_l
project_root_marker

*.pyc

*.csproj.user
/SampleBuilds

# Added by Mathijs:
.DS_Store

/Temp
/Library
/Build
/Builds
/obj
/Logs

/.vs

#ignoring pidb, they are just code completion caching data according to:
# http://stackoverflow.com/questions/1022111/what-are-monodevelops-pidb-files
*.pidb

*.userprefs

/*.user
/*.csproj
/*.sln
/*.idea